<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.redgeek.android.eventrend" android:versionName="1.0.15" android:versionCode="7">
  <uses-sdk android:minSdkVersion="4"></uses-sdk>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application 
    	android:label="@string/app_name" 
    	android:icon="@drawable/icon">
        <activity 
        	android:label="@string/app_name" 
        	android:name=".InputActivity"
        	android:screenOrientation="sensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
		</activity>
		<activity android:name=".datum.EntryListActivity"></activity>
		<activity android:name=".datum.EntryEditActivity"></activity>
		<activity android:name=".graph.GraphActivity" android:screenOrientation="sensor"></activity>
		<activity android:name=".importing.ImportActivity"></activity>
		<activity android:name="Preferences"></activity>
		<activity android:name=".category.CategoryEditActivity"></activity>
	<activity android:name=".calendar.CalendarActivity"></activity>
<activity android:name=".synthetic.FormulaEditorActivity"></activity>
</application>
</manifest> 